body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    /*z-index: 1;*/
    width: 100%;
    background-color: #00000067;
}

.container{
    width: 100%;
    margin: auto;
}

.nav_checkbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 0px;
}

.logo{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.tab-nav{
    outline: none;
    display: none;
}

.label{
    display: none;
    color: white;
}

.burger{
    width: 35px;
    height: 5px;
    background-color: white;
    margin-top: 5px;
    border-radius: 2px;
}

.content_nav{
    grid-column: 3;
    list-style: none;
    margin: 0;
    padding: 0;
}

.content_nav li{
    display: inline-block;
    padding-right: 10px;
}

.content_nav li a{
    text-decoration: none;
    color: white;
    position: relative;
}

.content_nav li a::after{
    content: '';
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    transform-origin: right;
    transform: scale(0, 1);
    transition: transform ease-in-out 0.4s;

}

.content_nav li a:hover::after{
    transform: scale(1, 1);
}

.content_section{
    height: 120vh;
    background-image: url(../resources/michi--fondo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-items: center;
    align-items: center;
}

@media screen and (max-width: 1280px){

    .container{
        width: 100%;
    }

}

@media screen and (max-width: 770px){

    .label{
        display: grid;
        cursor: pointer;
        grid-column: 3;
        padding-right: 10px;
    }

    .content_nav{
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 1/4;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.5s;
    }

    .nav_checkbox input:checked ~ .content_nav{
        max-height: 500px;
    }

    .content_nav li{
        padding: 15px 0px;
    }


}